/* EXACTLY THE SAME AS THE MAIN PAGE (style.css) ((excep of the .house))*/
.icon a img{
    max-width: 7vmin;
    max-height: auto;
   padding-top: 1vmin
}
/*FONT*/
body {
    font-family: 'Rubik Mono One', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
/* FLEXBOX ONLY (no style)*/
*{
    margin: 0;
    padding: 0;
}
/* THINGS FROM HEADER*/

/* aquí puedes cambiar los márgenes in header (padding)*/
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4.5vh;
    padding-right: 4.5vh; 
}

ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 10px;
}

/*THINGS FROM THE MAIN FONT PAGE */
.mainFontPage {
    display: flex;
    min-height: 70vmin;
    justify-content: space-around;
}

.title {
    margin: auto;
    text-align: center;
}


/*GALLERY PART*/

main {
    overflow-x: hidden; /*hides the scrollbar*/
    display: flex;

    /*background animation*/
    animation: pulse 60s ease infinite;
}

p {
    margin: 0;
}

section {
    min-width: 50vw;
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;

}
@keyframes pulse {
    0%, 100% {
        background-color: #337477;
    }
    10% {
        background-color: #6e9c9c;
    }
    20% {
        background-color: #bdd3c9;
    }
    30% {
        background-color: #b4cebe;
    }
    
    50% {
        background-color: #a2c3a8;
    }
}

/* give each section a color
section:nth-child(even) {
    background-color: teal;
    color: white;
}
*/

footer {
    height: 10vmin;
    background-color: white;
}

/*GALLERY ELEMENTS*/

.galleryIntro {
    flex-direction: column;
}

.introText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5vmin;
    padding: 5vmin;
    width: 40vmin;
    height: 50vmin;
    background-color: #F3F7F5;
    border-radius: 0.5vmin;
    box-shadow: 0 0 3vmin #255356;
}

/*FIRST ART*/

main img  {
    width: 40vmin;
    height: 40vmin;
    display: flex;
   position: relative;
   bottom: 1.3vmin;
   right: 2.9vmin;
   
}

/*FUNGY*/
.firstArt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vmin;
}

.firstArtSub {
    background-color: #F3F7F5;
    padding: 2vmin;
    border-radius: 0.5vmin;
}

.fungy {
    width: 35vmin;
    height: 35vmin;
    border-radius: 50%;
    box-shadow: 0 0 3vmin #F3F7F5;
}

.fungyClarification {
    padding-top: 1vmin;
}
/*RANDOM CSS DRAW*/
.secondArt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vmin;
}


















