/* EXACTLY THE SAME AS THE MAIN PAGE (style.css) ((excep of the .house))*/
.house a img{
    width: 10.5vmin;
    height: 8vmin;
}
/*FONT*/
body {
    font-family: 'Rubik Mono One', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    
}
/* FLEXBOX ONLY (no style)*/
*{
    margin: 0;
    padding: 0;
}
/* THINGS FROM HEADER*/

/* aquí puedes cambiar los márgenes in header (padding)*/
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4.5vh;
    padding-right: 4.5vh;
}

ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 10px;
}

/*THINGS FROM THE MAIN FONT PAGE */
.mainFontPage {
    display: flex;
    min-height: 70vmin;
    justify-content: space-around;
}

.title {
    margin: auto;
    text-align: center;
}



/* SOSO STYLE*/
#header {
    background-color: #000000;
}

.mainFontPage {
    background-color: #FDFDFE;
}

.moreHeader {
    color: white;
}



/*STYLES OF THE GALLERY*/
.gallery {
    display: flex;
    flex-wrap: wrap;
}

/*FIRST element (drum kit)*/
.firstElement {
    display: flex;
    flex-direction: column;

    margin: 5vmin;
    margin-left: 7vmin;
}

.firstElementContent { 
    display: flex;
    flex-direction: column;
    border-radius: 3vmin;

    width: 50vmin;
    height: 35vmin;

    box-shadow: 0 0 3vmin #E1DDDF;
}

.firstElement img {
    position: relative;
    top: 1vmin;
    width: 50vmin;
    height: 32vmin;
    border-radius: 0 0 3vmin 3vmin;
    /*for now the best solution that ive found id to make the mage the same sice ass the firstElementContent (i had a problem because when i made the image a link it went out of it)*/
}


/*here there is the title and the apple buttons*/
.topPart {
    display: flex;
    flex-direction: row;
    margin-top: 1vmin;
}
.colors {
    display: flex;
}
.red {
    margin-left: 1vmin;
    margin-top: 0.5vmin;
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;
    background-color: #F84645;
}
.yellow {
    margin-left: 0.8vmin;
    margin-top: 0.5vmin;
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;
    background-color: #FBAF24;
}
.green {
    margin-left: 0.8vmin;
    margin-top: 0.5vmin;
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;
    background-color: #29C532;
}
.elementTitle {
    margin: auto;
    text-align: center;
    position: relative;
    right: 3.5vmin;
}




