/* EXACTLY THE SAME AS THE MAIN PAGE (style.css) ((excep of the .house))*/
.icon a img{
    max-width: 7vmin;
    max-height: auto;
   padding-top: 1vmin
}
/*FONT*/
body {
    font-family: 'Rubik Mono One', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    
}
/* FLEXBOX ONLY (no style)*/
*{
    margin: 0;
    padding: 0;
}
/* THINGS FROM HEADER*/

/* aquí puedes cambiar los márgenes in header (padding)*/
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4.5vh;
    padding-right: 4.5vh;
}

ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 10px;
}

/*THINGS FROM THE MAIN FONT PAGE */
.mainFontPage {
    display: flex;
    min-height: 70vmin;
    justify-content: space-around;
}

.title {
    margin: auto;
    text-align: center;
}



/* SOSO STYLE*/
#header {
    background-color: #fdfdfd;
}

.mainFontPage {
    background-color: #FDFDFE;
}

.moreHeader {
    color: rgb(0, 0, 0);
}



/*STYLES OF THE GALLERY*/
.gallery {
    display: flex;
    flex-wrap: wrap;
}



/*here there is the title and the apple buttons*/
.topPart {
    display: flex;
    flex-direction: row;
    margin-top: 1vmin;
}
.colors {
    display: flex;
}
.red {
    margin-left: 1vmin;
    margin-top: 0.5vmin;
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;
    background-color: #F84645;
}
.yellow {
    margin-left: 0.8vmin;
    margin-top: 0.5vmin;
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;
    background-color: #FBAF24;
}
.green {
    margin-left: 0.8vmin;
    margin-top: 0.5vmin;
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;
    background-color: #29C532;
}
.elementTitle {
    margin: auto;
    text-align: center;
    position: relative;
    right: 3.5vmin;
}

.element {
    display: flex;
    flex-direction: column;

    margin: 5vh;
    margin-left: 7vh;
}

.elementContent { 
    display: flex;
    flex-direction: column;
    border-radius: 3vh;

    width: 60vh;
    height: auto;

    box-shadow: 0 0 3vh #E1DDDF;
}

.elementContent img {
    position: relative;
    top: 1vh;
    width: 60vh;
    height: auto;
    border-radius: 0 0 3vmin 3vmin;
    /*for now the best solution that ive found id to make the mage the same sice ass the firstElementContent (i had a problem because when i made the image a link it went out of it)*/
}


/*FIRST element (drum kit)*/

/*SECOND ELEMENT (mouse over text)*/

/*THIRD ELEMENT (CSS+JS clock)*/


