/*FONT*/
body{
    Font-Family: 'Sintony', Sans-Serif;
    Font-Size: 15px;
}
.title{
    Font-Family: 'Source Sans Pro', Cursive;
    Font-Size: 90px;
}
.menu button{
    Font-Family: 'Source Sans Pro', Cursive;
    Font-Size: 40px;
}
/* FLEXBOX ONLY (no style)*/
*{
    margin: 0;
    padding: 0;
}
/* THINGS FROM HEADER*/

/* aquí puedes cambiar los márgenes in header (padding)*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4.5vh;
    padding-right: 4.5vh; 
}

ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 10vh;
}

.icon img {
    max-width: 7vmin;
    max-height: auto;
   padding-top: 1vmin;
}

/*apple buttom for the colourful mode */
/*off button*/
    input.appleButton {
        position: absolute;
        right: 5vh;
        top: 2vh;

        appearance: none;
        outline: none;
        
        width: 51px;
        height: 31px;

        background-color: #ffffff;
        border: 1px solid #D9DADC;

        border-radius: 51px;
        box-shadow: inset -20px 0 0 0 #d1d1d1;
        
        transition-duration: 200ms;
    }
    input.appleButton::after{
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;

        width: 26px;
        height: 26px;

        border-radius: 50%;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);

        background-color: transparent;
    }
    /*on button*/
    input.appleButton:checked{
        border-color: #4ED164;
        box-shadow: inset 20px 0 0 0 #4ED164;
    }
    input.appleButton:checked::after{
        left: 21px;
        box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
    }

/*THINGS FROM THE MAIN FONT PAGE */
.mainFontPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 70vmin;
    justify-content: center;
}

.title {
    /*margin: auto; here i've changed this to add the date*/
    text-align: center;
}

/*THINGS FROM THE UNIVERSITY PAGE*/
a{
    text-decoration: none;
    color: inherit;
}
.uniPage{
    height: 100vh;
    background-image: conic-gradient(from 31deg, rgba(255, 139, 238, 1) 50deg, rgba(157, 150, 238, 0.41) 86deg, rgba(204, 157, 238, 0.62) 180deg, rgba(255, 197, 129, 1) 248deg, rgba(255, 139, 238, 1) 342deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.folderContainer{
    width: 70vw;
    height: 60vh;

    border-radius: 1.5vh;

    display: flex;
    flex-direction: row;

    background-color: #fcfaf9;
}
/*styling of the images (logos and icons)*/
.folderContainer img{
    width: 18px;
    height: auto;
    position: relative;
    top: 2px;
}
.secondExtraInfo img{
    width: 15vw;
    margin: 0;
}
.secondSubjects img{
    width: 18px;
}
/* end of the img styling */
.leftPart{
    display: flex;
    flex-direction: column;
    
    width: 21vw;
    height: 100%;

    border-radius: 1.5vh 0 0 1.5vh;
    background-color: #edebea;
}
.colors {
    display: flex;
    margin: 10px;
    gap: 3px;
}
.colors div{
    margin-left: 0.8vmin;
    margin-top: 0.5vmin;
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;
}
.red {
    margin-left: 1vmin;
    background-color: #F84645;
}
.yellow {
    background-color: #FBAF24;
}
.green {
    background-color: #29C532;
}
.titles{
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.titles h4{
    margin: 3px;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
}


.rightPart{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.subfolders{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.mainFolderTitle{
    text-align: center;
    padding: 1.5vh;
    border-bottom: 1px solid #e0e0e0;
}
/*still to check this */

.firstExtraInfo{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px;
}
.firstExtraInfo p{
    padding: 0.4vh;
    border-radius: 4px;
    cursor: pointer;
}
.dividerExtraInfo{
    width: 1px;
    background-color: #e0e0e0;
    height: 100%;
}
.secondExtraInfo{
    display: flex;
    flex-direction: column;
    padding:10px;
}
.secondExtraInfo p{
    padding: 0.4vh;
    border-radius: 4px;
    cursor: pointer;
}

/*things by default hidden*/
#firstHide{
    display: none;
}
#secondHide{
    display: none;
}
#subjects{
    display: none;
}
#university{
    display: none;
}
#info{
    display: none;
}

#infoGoIn{
    display: none;
}
#secondInfo{
    display: none;
}
#secondUniversity{
    display: none;
}
#secondProbabilidad{
    display: none;
}
#secondPensamientoComp{
    display: none;
}
/*Pops Up*/
/*from the info title*/
.collegePopUp{
    position: absolute;
    left: 35vw;
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 70vh;
    display: flex;
    border-radius: 1.5vh;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 4px 12px 5px rgba(0,0,0,0.35); 
    box-shadow: 0px 4px 12px 5px rgba(0,0,0,0.35);
}
.textHolder{
    padding: 2vw;
}
#infoGoIn{
    animation-name: goIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;

    animation-iteration-count: 1;
}
@keyframes goIn {
    0%{
        transform: scale(0);
        transform-origin: 0% 20%;
    }
    100%{
        transform: scale(1);
        transform-origin: 100% 100% ;
    }
}
/* This was made for the go out of the info part but i couldnt made it work 
#infoGoOut{
    animation-name: goOut;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    animation-iteration-count: 1;
}
@keyframes goOut {
    0%{
        transform: scale(1);
        transform-origin: 100% 100% ;
        
    }
    100%{
        transform: scale(0);
        transform-origin: 0% 20%;
    }
}
*/